@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.banner {
  transition: 1s;
}

button {
  cursor: pointer;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.stats {
  background-color: #fff;
  padding-top: 12px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
